ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: #333;
    
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgb(202, 208, 209);
}

 body {
     
        background-color: rgb(253, 253, 251);
    }
    div.photos:hover {
        border: 4px solid rgb(219, 24, 170);
    }
    div.desc {
        display: flex;
        
        align-content: center;
        text-align: center;
        align-items: center;
        flex-direction: column;
    }
    .myFlexContainer5{
        display:flex;
        justify-content: center;
        padding: 25px;
        background-color: rgb(236, 215, 235);
        justify-content: space-around;

    }
   
    div.desc {
        display: flex;
        align-content: center;
        text-align: center;
        align-items: center;
        flex-direction: column;
    }
    .myFlexContainer6{
        display:flex;
        justify-content: center;
        padding: 25px;
        background-color: rgb(241, 216, 239);
        justify-content: space-around;

    }
 
    div.descs {
        display: flex;
        
        align-content: center;
        text-align: center;
        align-items: center;
        flex-direction: column;
    }

    .myFlexContainer{
        display:flex;
        justify-content: center;
        padding: 25px;
        background-color: rgb(195, 208, 231);
        

    }
    myhomephoto{
    
        width: 100%;
    }
    .homecontainer {
        display: flex;
        justify-content: center;
        background-color: rgb(173, 222, 241);
    }
    
    .heading {
        display : flex;
        justify-content: center;
        text-decoration: underline;
         text-decoration-line: underline;
}


    .myFlexContainer2 {
        display: flex;
        background-color: rgb(127, 242, 250);
        padding: 25px;
        justify-content: space-around;

    }

    .downphotos {
        display: flex;
        align-items: flex-end;
    }
    
    .homedown1 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: black;

    }
    .boxdown {
        display: flex;
        text-align: center;
        flex-direction: column;
        width: 20%;
        justify-content: center;
        background-color: aliceblue;
    }
      
    .intro {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        background-color: bisque;
    }

    .intro h4    {
        margin-bottom: 0;
        
    }
    .downintrophoto {
            display: flex;
            padding: 10px;
            background-color: rgb(219, 231, 233);
            justify-content:space-around; 
    }
    .down2 {
        display: flex;
        align-items: flex-end;
        
    }
    .down3 {
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        background-color: rgb(255, 255, 253);
    }
    .downbox {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        background-color: rgb(128, 207, 207);
        
      
    }
    table {
        
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    
    td, th {
        text-align: left;
        padding: 8px;
        color: rgb(0, 0, 0);
    }
    
    tr:nth-child(even) {
        background-color: #fdfdfd;
    }
      .subcribe {
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        background-color: rgb(250, 250, 250);
    }
    .secondbox {
        display: flex;

      background-color: rgb(247, 167, 167);
      flex-direction: row;
      justify-content: space-between; 
        padding: 10px;
        border: 5px solid rgb(0, 0, 0);
        padding: 10px;
        border-top-left-radius: 25px;
        box-shadow: 15px 15px #eb2121;
    }

    .LeftSide{
        display: flex;
        flex-direction: column;
    }
  
  .thirdbox {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      background-color: #fa5757 ;

  }
  .thirdbox2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-decoration: underline;
      text-decoration-line: underline;
  }

.aboutpic {
    display: flex;
    
}
.doc1 {
    display:flex;
    
    flex-direction: column;
    padding: 10px;
    border: 5px solid rgb(0, 0, 0);
    padding: 10px;
    border-radius: 50px 20px;
        
   
}
.doc2 {
    display: flex;
    background-color: rgb(226, 105, 105);
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;

}
.head {
    display: flex;
    text-decoration: underline;
    text-decoration-line: underline;
}
.imageabout {
    display: flex;
    border: 15px solid transparent;
    padding: 15px;
   
    border-image-repeat: stretch;    
    border-image-slice: 30;
}
.table1 {
    display: flex;
    padding: 10px;
    background-color: rgb(232, 234, 235);
    border: 2px solid rgb(5, 4, 78);
    padding: 10px;
    border-radius: 25px;

}
.table2 {
    display: flex;
    padding: 10px;
    background-color: rgb(235, 150, 243);
    border: 2px solid rgb(168, 43, 162);
    padding: 10px;
    border-radius: 25px;
    
}
.table3 {
    display: flex;
    padding: 10px;
    background-color: rgb(245, 106, 106);
    border: 2px solid rgb(241, 6, 6);
    padding: 10px;
    border-radius: 25px;
}


.subcribe1 {
    display: flex;
    color:rgb(7, 149, 231);
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
.subcribe2 {
    display: flex;
    color:rgb(185, 14, 143);
    text-align: center;
    flex-direction: column;
    justify-content: center;


}
.subcribe3 {
    display: flex;
    color:rgb(173, 17, 17);
    text-align: center;
    flex-direction: column;
    justify-content: center;

}