ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgb(119, 116, 116);
}

.active {
    background-color:rgb(25, 123, 235);
}


.shajan{
    padding:200;
    text-align: center;

    height: 100px;
    background: linear-gradient(rgb(9, 111, 243), rgb(19, 56, 221), rgb(255, 255, 255));
   
}


.products{
    color: red;
}

 body {
        background-color: rgb(253, 253, 251);
    }
    div.gallery {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 180px;
    }
    
div.gallery:hover {
        border: 3px solid rgb(7, 4, 4);
    }
    
div.gallery img {
        width: 100%;
       
        
}

div.desc {
    display: flex;
        
        align-content: center;
        text-align: center;
        align-items: center;
        flex-direction: column;
        

    }

    .myFlexContainer{
        display:flex;
        justify-content: center;
        padding: 25px;
        background-color: rgb(28, 195, 236);

    }
    myhomephoto{
    
        width: 100%;
    }
    .homecontainer {
        display: flex;
        justify-content: center;
        background-color: rgb(234, 241, 241);
    }
    
    .heading {
        display : flex;
        justify-content: center;
    }

    .myFlexContainer2 {
        display: flex;
        background-color: rgb(8, 196, 243);
        padding: 25px;
        justify-content: space-around;

    }

    .downphotos {
        display: flex;
        align-items: flex-end;
    }
    
    .homedown1 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        background-color: black;

    }
    .boxdown {
        display: flex;
        text-align: center;
        flex-direction: column;
        width: 20%;
        justify-content: center;
        background-color: aliceblue;
    }
      
