ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgb(119, 116, 116);
}

.active {
    background-color:rgb(255, 0, 0);
}


.shajan{
    padding:200;
    text-align: center;

    height: 100px;
    background: linear-gradient(red, yellow, blue);
   
}


.products{
    color: red;
}

 body {
        background-color: rgb(253, 253, 251);
    }

 div.gallery {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 180px;
    }
    
div.gallery:hover {
        border: 3px solid rgb(7, 4, 4);
    }
    
div.gallery img {
        width: 100%;
       
        ;
}
    
div.desc {
    display: flex;
        
        align-content: center;
        text-align: center;
        align-items: center;
        flex-direction: column;
        
        

    }
    .box {
        display: flex;
        background-color: rgb(216, 207, 207);
        width: 300px;
        border: 5px solid rgb(9, 10, 9);
        padding: 0px;
        margin: 0px;
        height: 325%;
        justify-content: flex-end;
        

    
        
    }

    .myFlexContainer{
        display:flex;
        justify-content: space-around;
    }
    
    

    
    
   

      
     